:root{
  --ion-color-secondary-tint: #50c8ff;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.plano-fundo{
  background-image: url(https://images.pexels.com/photos/12211017/pexels-photo-12211017.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
}

.altura{
  height: 100vh;
  overflow: hidden;
}

.form{
  margin: auto;
}

ion-button{
  --border-radius: 15px
}