$primary-color: red;

.toolbar{
  --background: rgb(146,179,255);
  --background: linear-gradient(90deg, rgba(146,179,255,1) 0%, rgba(137,183,193,1) 48%, rgba(195,225,232,1) 97%);
  --color: #FFFFFF;
}
.calendario{

  &__foto{
    border-radius: 20px;
  }
  &__mes{
    font-size: 1.6rem;
    color: #71039d;
  }
  &__ano{
    font-size: 1.2em;
  }
  &__dia-semana{
    font-weight: bold;
  }
  &__dia-bg{
    border-radius: 20px;
    transition: ease all .7s
  }
  &__dia-bg:hover{
    transition: ease all .7s;
    background: #a4b3d6;
    color: #fff;
  }
  &__bg{
    border-radius: 20px;
    background: rgb(146,179,255);
    background: linear-gradient(90deg, rgba(146,179,255,1) 0%, rgba(137,183,193,1) 48%, rgba(195,225,232,1) 97%);
  }
}