<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" size-lg="6" class="plano-fundo altura"></ion-col>
    <ion-col size="12" size-lg="6" class="altura ion-align-items-center ion-justify-content-center ion-text-center">
      <ion-row  class="altura ion-align-items-center ion-justify-content-center ion-text-center">
        <ion-col>

          <ion-text>
            <h1>Criar Conta</h1>
          </ion-text>
          <ion-list>
            <ion-list>
              <ion-row class="ion-justify-content-center">
                <ion-col size="9">
                  <ion-item>
                    <ion-input label="Nome" placeholder=""></ion-input>
                  </ion-item>
                </ion-col>
                
              </ion-row>
          
              <ion-row class="ion-justify-content-center">
                <ion-col size="9">
                  <ion-item>
                    <ion-input label="E-mail" placeholder=""></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
          
              <ion-row class="ion-justify-content-center">
                <ion-col size="9">
                  <ion-item>
                    <ion-input label="Senha" type="password"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
          
              <ion-row class="ion-justify-content-center">
                <ion-col size="9">
                  <ion-item>
                    <ion-input label="Confirmar Senha" type="password"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-list>
          
          <ion-row class="ion-justify-content-center">
            <ion-col size="5" >
              <ion-button class="enviar ion-margin-bottom" color="success" expand="block">Criar Conta</ion-button>
            </ion-col>
          </ion-row>
          
          <ion-text>
            <span>Login com</span>
          </ion-text>
          
          <ion-row class="ion-justify-content-center">
            <ion-col size="5" >
              <ion-button class="social" expand="block">Facebook</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="5" >
              <ion-button class="social" color="secondary"expand="block">Twitter</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="5" >
              <ion-button class="social" color="danger" expand="block">Google</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      </ion-col>
    </ion-row>      
  </ion-content>
