.calc {
  padding-top: 2.5em;
  border-radius: 20px;
  border: 2px var(--ion-color-dark);
}
.operacao {
  color: var(--ion-color-dark-tint);
  font-size: 1.4em;
  margin-left: 7%;
}
.resultado {
  font-size: 2em;
  margin-left: 7%;
}
.display{
  border-radius: 20px;
  background-color: var(--ion-color-primary);
}
ion-button{
  color: var(--dark-color);
}